@import "../variables";

.footer {
  width: 100%;
  height: 400px;
  background-color: $primary-one;
  overflow: hidden;
  .container {
    width: 95%;
    height: inherit;
    margin: 0% auto;
    display: flex;
    flex-direction: column;

    .top {
      width: inherit;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 33.3%;
        margin-left: 80px;
        a {
          font-size: 50px;
          font-weight: bold;
          color: $primary-two;
        }
        span {
          font-size: 10px;
          font-weight: bold;
          color: $complementary-color;
        }
      }
      .nav-links {
        width: 33.3%;
        display: flex;
        align-items: center;
        li {
          margin: 0 34px;
          a {
            font-weight: bold;
            color: $primary-two;
            transition: 0.3s ease;
          }
          a:hover {
            color: $complementary-color;
          }
        }
      }
      .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3%;
        a {
          img {
            width: 45px;
            height: 45px;
            margin: 0px 12px;
            cursor: pointer;
            transition: 0.3s ease;
          }
          img:hover {
            transform: translateY(-10px);
          }
        }
      }
    }
    .bottom {
      width: inherit;
      height: 50%;
      margin-left: 50px;
      display: flex;
      justify-content: center;
      .wrapper {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 33.3%;
          img {
            width: 45px;
            height: 45px;
            margin-bottom: 20px;
          }
          .special-image {
            width: 45px;
            height: 47px;
          }
        }
      }
    }
  }
}

/*Desktop Media Quries Starts*/
@media only screen and (min-width: 1600px) {
  .footer {
    .container {
      width: 90%;
      align-items: center;
      .top {
        margin-bottom: 50px;
        .logo {
          a {
            font-size: 60px;
            span {
              font-size: 15px;
            }
          }
        }
        .nav-links {
          li {
            a {
              font-size: 20px;
            }
          }
        }
        .social-links {
          a {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .bottom {
        margin-left: 100px;
        .wrapper {
          .card {
            a {
              font-size: 21px;
            }
            .special-image {
              width: 60px;
              height: 67px;
            }
            img {
              width: 50px;
              height: 57px;
            }
          }
        }
      }
    }
  }
}

/*Normal iphone 6 / x Starts*/
@media (max-width: 400px) {
  .footer {
    padding: 50px 0;
    height: auto;
    .container {
      width: 95%;
      .top {
        flex-direction: column;
        width: 100%;
        height: 50%;
        .logo {
          margin-left: 0%;
          padding-bottom: 35px;
        }
        .social-links {
          padding-bottom: 35px;
        }
        .nav-links {
          width: 100%;
          justify-content: center;
          padding-bottom: 35px;
          li {
            margin: 0 14px;
            a {
              font-size: 14px;
            }
          }
        }
      }
      .bottom {
        flex-direction: column;
        padding-top: 50px;
        width: 100%;
        height: 50%;
        margin-left: 0%;
        a {
          font-size: 10px;
        }
        .wrapper {
          align-items: stretch;
          .card {
            text-align: center;
            justify-content: start;
            img {
              width: 32px;
              height: 32px;
              margin-bottom: 40px;
            }
            .special-image {
              width: 35px;
              height: 42px;
              margin-bottom: 31px;
            }
          }
        }
      }
    }
  }
}

/*Normal iphone 6 / x ends*/

/*Iphone se (Small devices) starts*/
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .footer {
    .container {
      .top {
        .nav-links {
          li {
            margin: 0 8px;
            a {
              font-size: 14px;
            }
          }
        }
        .social-links {
          a {
            img {
              width: 40px;
              height: 40px;
              margin: 0px 10px;
            }
          }
        }
      }
      .bottom {
        .wrapper {
          .card {
            img {
              height: 41px;
              margin-bottom: 33px;
            }
          }
        }
        a {
          font-size: 9px;
        }
      }
    }
  }
}

/*Iphone se (Small devices) ends*/
