@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*Resets*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
/*Resets*/
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
.header-section {
  width: 100%;
  height: 150px;
}

.header-section .container {
  width: 92%;
  margin: 0% auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-section .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-section .container .logo a {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.header-section .container .logo span {
  font-size: 10px;
  font-weight: bold;
  color: #f8bd59;
}

.header-section .container .handBurger {
  color: black;
  width: 25px;
  height: 25px;
  display: none;
}

.header-section .container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .container .nav-links li {
  margin: 0 34px;
}

.header-section .container .nav-links li a {
  font-weight: bold;
  color: #fff;
}

.header-section .container .nav-links li.active {
  background-color: #f8bd59;
  color: #fff;
  padding: 70px 45px;
}

/*Desktop Media Quries Starts*/
@media (max-width: 2560) {
  .header-section .container .logo a {
    font-size: 60px;
  }
  .header-section .container .logo a span {
    font-size: 15px;
  }
  .header-section .container .nav-links li a {
    font-size: 21px;
  }
}

/*Desktop Media Quries Ends*/
/*Normal iphone 6 / x Starts*/
@media (max-width: 766px) {
  .header-section {
    width: 100%;
    overflow: hidden;
  }
  .header-section .container {
    width: 90%;
    height: inherit;
  }
  .header-section .container .logo {
    z-index: 3;
  }
  .header-section .container .logo a {
    font-size: 30px;
  }
  .header-section .container .logo a span {
    font-size: 7px;
  }
  .header-section .container .handBurger {
    display: block;
    z-index: 3;
  }
  .header-section .container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 2;
    padding: 61% 0 41%;
  }
  .header-section .container .nav-links li.active {
    padding: 0%;
    background-color: black;
  }
  .header-section .container .nav-links li {
    margin: 13% 34px;
  }
  .header-section .container .nav-links.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 2;
  }
}

/*Normal iphone 6 / x ends*/
/*Small phone starts*/
@media (min-width: 320px) and (max-width: 375px) {
  .header-section {
    width: 100%;
    overflow: hidden;
  }
  .header-section .container {
    width: 90%;
    height: inherit;
  }
  .header-section .container .logo {
    z-index: 3;
  }
  .header-section .container .logo a {
    font-size: 30px;
  }
  .header-section .container .logo a span {
    font-size: 7px;
  }
  .header-section .container .handBurger {
    display: block;
    z-index: 3;
  }
  .header-section .container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 2;
    padding: 61% 0 41%;
  }
  .header-section .container .nav-links li.active {
    padding: 0%;
    background-color: black;
  }
  .header-section .container .nav-links.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 2;
  }
}

/*Small phone ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-section .container {
    width: 95%;
  }
  .header-section .container .nav-links li {
    margin: 0 21px;
  }
  .header-section .container .nav-links li.active {
    padding: 70px 31px;
  }
}

/*Resets*/
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
.footer {
  width: 100%;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
}

.footer .container {
  width: 95%;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .top {
  width: inherit;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 33.3%;
  margin-left: 80px;
}

.footer .container .top .logo a {
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.footer .container .top .logo span {
  font-size: 10px;
  font-weight: bold;
  color: #f8bd59;
}

.footer .container .top .nav-links {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .top .nav-links li {
  margin: 0 34px;
}

.footer .container .top .nav-links li a {
  font-weight: bold;
  color: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .container .top .nav-links li a:hover {
  color: #f8bd59;
}

.footer .container .top .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
}

.footer .container .top .social-links a img {
  width: 45px;
  height: 45px;
  margin: 0px 12px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .container .top .social-links a img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer .container .bottom {
  width: inherit;
  height: 50%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .bottom .wrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .bottom .wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
}

.footer .container .bottom .wrapper .card img {
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}

.footer .container .bottom .wrapper .card .special-image {
  width: 45px;
  height: 47px;
}

/*Desktop Media Quries Starts*/
@media (max-width: 2560) {
  .footer .container {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .top {
    margin-bottom: 50px;
  }
  .footer .container .top .logo a {
    font-size: 60px;
  }
  .footer .container .top .logo a span {
    font-size: 15px;
  }
  .footer .container .top .nav-links li a {
    font-size: 20px;
  }
  .footer .container .top .social-links a img {
    width: 50px;
    height: 50px;
  }
  .footer .container .bottom {
    margin-left: 100px;
  }
  .footer .container .bottom .wrapper .card a {
    font-size: 21px;
  }
  .footer .container .bottom .wrapper .card .special-image {
    width: 60px;
    height: 67px;
  }
  .footer .container .bottom .wrapper .card img {
    width: 50px;
    height: 57px;
  }
}

/*Normal iphone 6 / x Starts*/
@media (max-width: 766px) {
  .footer {
    padding: 50px 0;
    height: auto;
  }
  .footer .container {
    width: 95%;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .footer .container .top .logo {
    margin-left: 0%;
    padding-bottom: 35px;
  }
  .footer .container .top .social-links {
    padding-bottom: 35px;
  }
  .footer .container .top .nav-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 35px;
  }
  .footer .container .top .nav-links li {
    margin: 0 14px;
  }
  .footer .container .top .nav-links li a {
    font-size: 14px;
  }
  .footer .container .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 50%;
    margin-left: 0%;
  }
  .footer .container .bottom a {
    font-size: 10px;
  }
  .footer .container .bottom .wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer .container .bottom .wrapper .card {
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .container .bottom .wrapper .card img {
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
  }
  .footer .container .bottom .wrapper .card .special-image {
    width: 35px;
    height: 42px;
    margin-bottom: 31px;
  }
}

/*Normal iphone 6 / x ends*/
/*Iphone se (Small devices) starts*/
@media (min-width: 320px) and (max-width: 375px) {
  .footer .container .top .nav-links li {
    margin: 0 8px;
  }
  .footer .container .top .nav-links li a {
    font-size: 14px;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

/*Iphone se (Small devices) ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer .container {
    gap: 65px 0;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .top .nav-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .nav-links li {
    margin: 0 21px;
  }
  .footer .container .top .nav-links li a {
    font-size: 24px;
  }
  .footer .container .top .logo {
    padding-bottom: 30px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer .container {
    gap: 0px 0;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .top .nav-links {
    padding-bottom: 40px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .nav-links li {
    margin: 0 41px;
  }
  .footer .container .top .nav-links li a {
    font-size: 28px;
  }
  .footer .container .top .logo {
    padding-bottom: 40px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .logo a {
    font-size: 60px;
  }
  .footer .container .top .social-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

/*Laptop media queries starts*/
.wrapper-section {
  background-image: url(../../images/Gallery/banner-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.wrapper-section .bg-layer {
  background-color: #525151c0;
  width: 100%;
  height: auto;
}

.hero-section {
  padding: 80px 0 60px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.hero-section .container {
  width: 70%;
  margin: 0% auto;
  height: inherit;
}

.hero-section .container .flex-wrapper {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .container .flex-wrapper h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 58px;
  color: #fff;
}

.hero-section .container .flex-wrapper h1 span {
  color: #f8bd59;
}

.hero-section .container .flex-wrapper h2 {
  margin-bottom: 105px;
  font-size: 25px;
  max-width: 1500px;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
}

.hero-section .container .flex-wrapper .btn {
  padding: 34px 58px;
  background-color: #f8bd59;
  color: #fff;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 15px;
}

.who-we-are-section {
  width: 100%;
  padding: 80px 0 60px;
  height: auto;
  overflow: hidden;
  background-color: #eee;
}

.who-we-are-section .container {
  width: 89%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we-are-section .container .title {
  text-align: center;
  font-size: 45px;
  position: relative;
  margin-bottom: 72px;
  padding-bottom: 32px;
}

.who-we-are-section .container .title::after {
  content: "";
  background: #f8bd59;
  width: 120px;
  height: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.who-we-are-section .container h2 {
  width: 100%;
  text-align: center;
  max-width: 85%;
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 50px;
}

.who-we-are-section .container .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 80px;
  margin-bottom: 100px;
}

.who-we-are-section .container .btn-wrapper a {
  background-color: #f8bd59;
  color: #fff;
  padding: 20px 60px;
  font-weight: bolder;
}

.who-we-are-section .container .timeline {
  margin-left: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.who-we-are-section .container .timeline h6 {
  font-size: 25px;
  font-weight: bold;
}

.who-we-are-section .container .timeline .img-wrapper {
  margin: 24px 55px 0px;
}

.who-we-are-section .container .timeline .img-wrapper p {
  font-weight: bold;
  font-size: 10px;
}

.why-choose-us {
  width: 100%;
  height: auto;
  padding: 80px 0 60px;
  overflow: hidden;
}

.why-choose-us .container {
  width: 89%;
  height: inherit;
  margin: 0% auto;
}

.why-choose-us .container .title {
  text-align: center;
  font-size: 45px;
  position: relative;
  margin-bottom: 72px;
  padding-bottom: 32px;
}

.why-choose-us .container .title::after {
  content: "";
  background: #f8bd59;
  width: 120px;
  height: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.why-choose-us .container .card-wrapper {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 40px;
}

.why-choose-us .container .card-wrapper .card {
  width: 50%;
  height: auto;
  padding: 20px 0;
  background-color: #f8bd59;
}

.why-choose-us .container .card-wrapper .card .container {
  padding: 80px 20px 35px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.why-choose-us .container .card-wrapper .card .container img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}

.why-choose-us .container .card-wrapper .card .container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 38px;
}

.why-choose-us .container .card-wrapper .card .container p {
  max-width: 95%;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 68px;
  line-height: 22px;
}

.why-choose-us .container .card-wrapper .card .container a {
  background-color: #fff;
  color: black;
  padding: 10px 30px;
  font-size: 8px;
  font-weight: bold;
  width: 100px;
  position: absolute;
  bottom: 5%;
}

.gallery-section {
  width: 100%;
  height: auto;
  padding: 80px 0 60px;
  overflow: hidden;
  background-color: #eee;
}

.gallery-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89%;
  height: inherit;
  margin: 0% auto;
}

.gallery-section .container .title {
  text-align: center;
  font-size: 45px;
  position: relative;
  margin-bottom: 72px;
  padding-bottom: 32px;
}

.gallery-section .container .title::after {
  content: "";
  background: #f8bd59;
  width: 120px;
  height: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.gallery-section .container .img-wrapper {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  gap: 0 30px;
}

.gallery-section .container .img-wrapper img {
  width: 32%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-section .container a {
  padding: 15px 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f8bd59;
  color: #fff;
}

.testmonial-sec {
  width: 100%;
  height: auto;
  padding: 80px 0 60px;
  overflow: hidden;
}

.testmonial-sec .container {
  width: 89%;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testmonial-sec .container .title {
  text-align: center;
  font-size: 45px;
  position: relative;
  margin-bottom: 72px;
  padding-bottom: 32px;
  max-width: 700px;
}

.testmonial-sec .container .title::after {
  content: "";
  background: #f8bd59;
  width: 120px;
  height: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.testmonial-sec .container .swiper {
  overflow: hidden;
  width: 100%;
  height: 50%;
  padding-top: 19px;
  background-color: #f8bd59;
}

.testmonial-sec .container .swiper .swiper-button-prev,
.testmonial-sec .container .swiper .swiper-button-next {
  color: black;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: inherit;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper {
  height: inherit;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .left {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .left img {
  width: 326px;
  height: 326px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h1 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 18px;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 35px;
}

.testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right p {
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  max-width: 755px;
}

/*Laptop media queries ends*/
/*Desktop Media Quries Starts*/
@media (max-width: 2560) {
  .wrapper-section {
    height: auto;
    padding: 40px 60px;
  }
  .hero-section {
    height: auto;
    padding: 124px 0 60px;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 70px;
  }
  .hero-section .container .flex-wrapper h2 {
    max-width: 1124px;
    font-size: 33px;
    line-height: 40px;
  }
  .hero-section .container .flex-wrapper .btn {
    font-size: 20px;
  }
  .who-we-are-section {
    height: auto;
    padding: 40px 60px;
  }
  .who-we-are-section .container .title {
    font-size: 50px;
  }
  .who-we-are-section .container h2 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 61px;
  }
  .who-we-are-section .container .btn-wrapper a {
    padding: 20px 90px;
  }
  .who-we-are-section .container .timeline h6 {
    font-size: 28px;
  }
  .why-choose-us {
    height: auto;
    padding: 40px 60px;
  }
  .why-choose-us .container .card-wrapper .card {
    height: auto;
    padding: 40px 0 80px;
  }
  .why-choose-us .container .card-wrapper .card .container img {
    width: 90px;
    height: 90px;
    margin-bottom: 32px;
  }
  .why-choose-us .container .card-wrapper .card .container h2 {
    font-size: 35px;
  }
  .why-choose-us .container .card-wrapper .card .container p {
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 68px;
    line-height: 25px;
  }
  .why-choose-us .container .card-wrapper .card .container a {
    padding: 13px 45px;
    font-size: 15px;
    width: 35%;
  }
  .gallery-section {
    height: auto;
    padding: 40px 60px;
  }
  .gallery-section .container a {
    padding: 18px 45px;
    font-size: 20px;
  }
  .testmonial-sec {
    height: auto;
    padding: 40px 60px;
  }
  .testmonial-sec .container .swiper {
    width: 94%;
  }
  .testmonial-sec .container .swiper .flex-wrapper {
    width: 100%;
  }
  .testmonial-sec .container .swiper .flex-wrapper .left {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-transform: translateX(16%);
            transform: translateX(16%);
  }
  .testmonial-sec .container .swiper .flex-wrapper .right {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  .testmonial-sec .container .swiper .flex-wrapper .right h1 {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .testmonial-sec .container .swiper .flex-wrapper .right h2 {
    font-size: 25px;
    margin-bottom: 28px;
  }
  .testmonial-sec .container .swiper .flex-wrapper .right p {
    font-size: 19px;
    line-height: 35px;
    max-width: 777px;
  }
  .testmonial-sec .container .swiper .swiper-button-next {
    right: 32px;
  }
  .testmonial-sec .container .swiper .swiper-button-prev {
    left: 32px;
  }
}

/*Desktop Media Quries Ends*/
/*Normal iphone 6 / x Starts*/
@media (max-width: 766px) {
  .wrapper-section {
    width: 100%;
    height: auto;
  }
  .wrapper-section .bg-layer {
    width: 100%;
    height: auto;
  }
  .hero-section {
    width: 100%;
    height: auto;
    padding: 80px 0;
    overflow-x: hidden;
  }
  .hero-section .container {
    width: 89%;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 32px;
  }
  .hero-section .container .flex-wrapper h2 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 38px;
  }
  .hero-section .container .flex-wrapper .btn {
    padding: 24px 22px;
    font-size: 12px;
  }
  .who-we-are-section {
    height: auto;
    padding: 60px 0;
  }
  .who-we-are-section .container {
    width: 95%;
  }
  .who-we-are-section .container .title {
    font-size: 27px;
  }
  .who-we-are-section .container .title::after {
    width: 63px;
  }
  .who-we-are-section .container h2 {
    max-width: 95%;
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 55px;
  }
  .who-we-are-section .container .btn-wrapper {
    gap: 0 40px;
  }
  .who-we-are-section .container .btn-wrapper a {
    padding: 17px 40px;
    font-size: 15px;
  }
  .who-we-are-section .container .timeline {
    display: none;
    margin-left: 0px;
    width: 95%;
  }
  .why-choose-us {
    height: auto;
    padding: 60px 0;
  }
  .why-choose-us .container {
    width: 95%;
  }
  .why-choose-us .container .title {
    font-size: 27px;
  }
  .why-choose-us .container .title::after {
    width: 63px;
  }
  .why-choose-us .container .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0;
  }
  .why-choose-us .container .card-wrapper .card {
    width: 100%;
    height: 100%;
  }
  .gallery-section {
    height: auto;
    padding: 60px 0;
  }
  .gallery-section .container {
    width: 95%;
  }
  .gallery-section .container .title {
    font-size: 27px;
  }
  .gallery-section .container .title::after {
    width: 63px;
  }
  .gallery-section .container .img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 50px 0;
  }
  .gallery-section .container .img-wrapper img {
    width: 100%;
  }
  .gallery-section .container a {
    font-size: 12px;
  }
  .testmonial-sec {
    height: auto;
  }
  .testmonial-sec .container {
    width: 95%;
  }
  .testmonial-sec .container .title {
    font-size: 27px;
  }
  .testmonial-sec .container .title::after {
    width: 63px;
  }
  .testmonial-sec .container .swiper {
    height: auto;
    padding: 50px 0;
  }
  .testmonial-sec .container .swiper .swiper-button-next,
  .testmonial-sec .container .swiper .swiper-button-prev {
    top: 41%;
  }
  .testmonial-sec .container .swiper .flex-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 180px 0;
    padding: 30px 18px;
  }
  .testmonial-sec .container .swiper .flex-wrapper .left {
    width: 100%;
    height: 40%;
  }
  .testmonial-sec .container .swiper .flex-wrapper .left img {
    width: 80%;
    height: 80%;
  }
  .testmonial-sec .container .swiper .flex-wrapper .right {
    text-align: center;
    width: 100%;
    height: 60%;
  }
}

/*Normal iphone 6 / x ends*/
/*Iphone se (Small devices) starts*/
@media (min-width: 320px) and (max-width: 375px) {
  .who-we-are-section {
    padding: 80px 0 40px;
  }
  .who-we-are-section .container h2 {
    font-size: 17px;
  }
  .who-we-are-section .container .btn-wrapper {
    gap: 0 20px;
  }
  .who-we-are-section .container .btn-wrapper a {
    padding: 17px 39px;
    font-size: 12px;
    width: 127px;
  }
  .why-choose-us {
    padding: 80px 0 40px;
  }
  .why-choose-us .container .card-wrapper .container {
    padding: 57px 20px 35px 23px;
  }
  .why-choose-us .container .card-wrapper .container .card {
    height: 700px;
  }
}

/*Iphone se (Small devices) ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-section {
    height: 78vh;
  }
  .wrapper-section .bg-layer {
    height: 78vh;
  }
  .hero-section {
    padding-top: 110px;
    height: 78vh;
  }
  .hero-section .container {
    width: 85%;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 50px;
  }
  .hero-section .container .flex-wrapper h2 {
    font-size: 29px;
  }
  .hero-section .container .flex-wrapper .btn {
    font-size: 24px;
  }
  .who-we-are-section {
    height: auto;
    padding: 80px 0;
  }
  .who-we-are-section .container h2 {
    font-weight: 500;
    max-width: 93%;
    margin-bottom: 65px;
    line-height: 39px;
  }
  .who-we-are-section .container .btn-wrapper a {
    font-size: 26px;
  }
  .why-choose-us {
    height: auto;
    padding: 80px 0;
  }
  .why-choose-us .container .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
    width: 100%;
  }
  .why-choose-us .container .card-wrapper .card {
    width: 100%;
    height: 100%;
  }
  .why-choose-us .container .card-wrapper .card .container img {
    width: 100px;
    height: 100px;
  }
  .why-choose-us .container .card-wrapper .card .container h2 {
    font-size: 36px;
  }
  .why-choose-us .container .card-wrapper .card .container p {
    font-size: 19px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 108px;
  }
  .why-choose-us .container .card-wrapper .card .container a {
    padding: 14px 35px;
    font-size: 14px;
    width: 132px;
  }
  .gallery-section {
    height: auto;
    padding: 80px 0;
  }
  .gallery-section .container .img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 50px 0;
  }
  .gallery-section .container .img-wrapper img {
    width: 100%;
  }
  .testmonial-sec {
    height: auto;
    padding: 80px 0;
  }
  .testmonial-sec .container .swiper {
    height: auto;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 110px 0;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h1 {
    font-size: 35px;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h2 {
    font-size: 35px;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right p {
    font-size: 29px;
    line-height: 44px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .wrapper-section {
    height: 70vh;
  }
  .wrapper-section .bg-layer {
    height: 70vh;
  }
  .hero-section {
    padding-top: 110px;
    height: 70vh;
  }
  .hero-section .container {
    width: 85%;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 50px;
  }
  .hero-section .container .flex-wrapper h2 {
    font-size: 29px;
  }
  .hero-section .container .flex-wrapper .btn {
    font-size: 24px;
  }
  .who-we-are-section {
    height: auto;
    padding: 90px 0;
  }
  .who-we-are-section .container h2 {
    font-weight: 500;
    max-width: 93%;
    margin-bottom: 65px;
    line-height: 39px;
  }
  .who-we-are-section .container .btn-wrapper a {
    font-size: 26px;
  }
  .why-choose-us {
    height: auto;
    padding: 90px 0;
  }
  .why-choose-us .container .card-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0;
    width: 100%;
  }
  .why-choose-us .container .card-wrapper .card {
    width: 100%;
    height: 100%;
  }
  .why-choose-us .container .card-wrapper .card .container img {
    width: 100px;
    height: 100px;
  }
  .why-choose-us .container .card-wrapper .card .container h2 {
    font-size: 36px;
  }
  .why-choose-us .container .card-wrapper .card .container p {
    font-size: 19px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 108px;
  }
  .why-choose-us .container .card-wrapper .card .container a {
    padding: 14px 35px;
    font-size: 14px;
    width: 132px;
  }
  .gallery-section {
    height: auto;
    padding: 90px 0;
  }
  .gallery-section .container .img-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 50px 0;
  }
  .gallery-section .container .img-wrapper img {
    width: 100%;
  }
  .gallery-section .container a {
    padding: 25px 48px;
  }
  .testmonial-sec {
    height: auto;
    padding: 90px 0;
  }
  .testmonial-sec .container .swiper {
    height: auto;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 110px 0;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h1 {
    font-size: 35px;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right h2 {
    font-size: 35px;
  }
  .testmonial-sec .container .swiper .swiper-wrapper .swiper-slide .flex-wrapper .right p {
    font-size: 29px;
    line-height: 44px;
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */