@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*Resets*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
/*Resets*/
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
.header-section {
  width: 100%;
  height: 150px;
}

.header-section .container {
  width: 92%;
  margin: 0% auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-section .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header-section .container .logo a {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.header-section .container .logo span {
  font-size: 10px;
  font-weight: bold;
  color: #f8bd59;
}

.header-section .container .handBurger {
  color: black;
  width: 25px;
  height: 25px;
  display: none;
}

.header-section .container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .container .nav-links li {
  margin: 0 34px;
}

.header-section .container .nav-links li a {
  font-weight: bold;
  color: #fff;
}

.header-section .container .nav-links li.active {
  background-color: #f8bd59;
  color: #fff;
  padding: 70px 45px;
}

/*Desktop Media Quries Starts*/
@media only screen and (min-width: 1600px) {
  .header-section .container .logo a {
    font-size: 60px;
  }
  .header-section .container .logo a span {
    font-size: 15px;
  }
  .header-section .container .nav-links li a {
    font-size: 21px;
  }
}

/*Desktop Media Quries Ends*/
/*Normal iphone 6 / x Starts*/
@media (max-width: 400px) {
  .header-section {
    width: 100%;
    overflow: hidden;
  }
  .header-section .container {
    width: 90%;
    height: inherit;
  }
  .header-section .container .logo {
    z-index: 3;
  }
  .header-section .container .logo a {
    font-size: 30px;
  }
  .header-section .container .logo a span {
    font-size: 7px;
  }
  .header-section .container .handBurger {
    display: block;
    z-index: 3;
  }
  .header-section .container .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 2;
    padding: 61% 0 41%;
  }
  .header-section .container .nav-links li.active {
    padding: 0%;
    background-color: black;
  }
  .header-section .container .nav-links.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 2;
  }
}

/*Normal iphone 6 / x ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-section .container {
    width: 95%;
  }
  .header-section .container .nav-links li {
    margin: 0 21px;
  }
  .header-section .container .nav-links li.active {
    padding: 70px 31px;
  }
}

/*Resets*/
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
.footer {
  width: 100%;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
}

.footer .container {
  width: 95%;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .top {
  width: inherit;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 33.3%;
  margin-left: 80px;
}

.footer .container .top .logo a {
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.footer .container .top .logo span {
  font-size: 10px;
  font-weight: bold;
  color: #f8bd59;
}

.footer .container .top .nav-links {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .top .nav-links li {
  margin: 0 34px;
}

.footer .container .top .nav-links li a {
  font-weight: bold;
  color: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .container .top .nav-links li a:hover {
  color: #f8bd59;
}

.footer .container .top .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
}

.footer .container .top .social-links a img {
  width: 45px;
  height: 45px;
  margin: 0px 12px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .container .top .social-links a img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer .container .bottom {
  width: inherit;
  height: 50%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .bottom .wrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .bottom .wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
}

.footer .container .bottom .wrapper .card img {
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}

.footer .container .bottom .wrapper .card .special-image {
  width: 45px;
  height: 47px;
}

/*Desktop Media Quries Starts*/
@media only screen and (min-width: 1600px) {
  .footer .container {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .top {
    margin-bottom: 50px;
  }
  .footer .container .top .logo a {
    font-size: 60px;
  }
  .footer .container .top .logo a span {
    font-size: 15px;
  }
  .footer .container .top .nav-links li a {
    font-size: 20px;
  }
  .footer .container .top .social-links a img {
    width: 50px;
    height: 50px;
  }
  .footer .container .bottom {
    margin-left: 100px;
  }
  .footer .container .bottom .wrapper .card a {
    font-size: 21px;
  }
  .footer .container .bottom .wrapper .card .special-image {
    width: 60px;
    height: 67px;
  }
  .footer .container .bottom .wrapper .card img {
    width: 50px;
    height: 57px;
  }
}

/*Normal iphone 6 / x Starts*/
@media (max-width: 400px) {
  .footer {
    padding: 50px 0;
    height: auto;
  }
  .footer .container {
    width: 95%;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .footer .container .top .logo {
    margin-left: 0%;
    padding-bottom: 35px;
  }
  .footer .container .top .social-links {
    padding-bottom: 35px;
  }
  .footer .container .top .nav-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 35px;
  }
  .footer .container .top .nav-links li {
    margin: 0 14px;
  }
  .footer .container .top .nav-links li a {
    font-size: 14px;
  }
  .footer .container .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 50%;
    margin-left: 0%;
  }
  .footer .container .bottom a {
    font-size: 10px;
  }
  .footer .container .bottom .wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer .container .bottom .wrapper .card {
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer .container .bottom .wrapper .card img {
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
  }
  .footer .container .bottom .wrapper .card .special-image {
    width: 35px;
    height: 42px;
    margin-bottom: 31px;
  }
}

/*Normal iphone 6 / x ends*/
/*Iphone se (Small devices) starts*/
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .footer .container .top .nav-links li {
    margin: 0 8px;
  }
  .footer .container .top .nav-links li a {
    font-size: 14px;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

/*Iphone se (Small devices) ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer .container {
    gap: 65px 0;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .top .nav-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .nav-links li {
    margin: 0 21px;
  }
  .footer .container .top .nav-links li a {
    font-size: 24px;
  }
  .footer .container .top .logo {
    padding-bottom: 30px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .footer {
    height: auto;
    padding: 40px 0;
  }
  .footer .container {
    gap: 0px 0;
  }
  .footer .container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .top .nav-links {
    padding-bottom: 40px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .nav-links li {
    margin: 0 41px;
  }
  .footer .container .top .nav-links li a {
    font-size: 28px;
  }
  .footer .container .top .logo {
    padding-bottom: 40px;
    margin-left: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .logo a {
    font-size: 60px;
  }
  .footer .container .top .social-links {
    padding-bottom: 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .top .social-links a img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  .footer .container .bottom {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
  }
  .footer .container .bottom .wrapper .card img {
    height: 41px;
    margin-bottom: 33px;
  }
  .footer .container .bottom a {
    font-size: 9px;
  }
}

/*Laptop media queries starts*/
.wrapper-section {
  background-image: url(../../images/Gallery/banner-image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.wrapper-section .bg-layer {
  background-color: #525151c0;
  width: 100%;
  height: 100vh;
}

.hero-section {
  padding-top: 80px;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.hero-section .container {
  width: 70%;
  margin: 0% auto;
  height: inherit;
}

.hero-section .container .flex-wrapper {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .container .flex-wrapper h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 58px;
  color: #fff;
}

.hero-section .container .flex-wrapper h1 span {
  color: #f8bd59;
}

.hero-section .container .flex-wrapper h2 {
  margin-bottom: 105px;
  max-width: 1500px;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.hero-section .container .flex-wrapper .btn {
  padding: 34px 58px;
  background-color: #f8bd59;
  color: #fff;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 15px;
}

.contact-section {
  width: 100%;
  height: 120vh;
  overflow: hidden;
  padding: 120px 0;
  background-color: #eee;
}

.contact-section .conatiner {
  width: 89%;
  height: inherit;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.contact-section .left {
  width: 50%;
}

.contact-section .left h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.contact-section .left h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 580px;
}

.contact-section .left form .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  margin-bottom: 55px;
}

.contact-section .left form .first input {
  width: 269px;
  padding-left: 20px;
  height: 52px;
}

.contact-section .left form .second {
  margin-bottom: 55px;
}

.contact-section .left form .second input {
  padding-left: 17px;
  width: 575px;
  height: 52px;
}

.contact-section .left form .third {
  margin-bottom: 45px;
}

.contact-section .left form .third input {
  text-align: start;
  width: 575px;
  height: 250px;
  padding: 10px 0 230px 17px;
}

.contact-section .left form .btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bolder;
  width: 208px;
  height: 52px;
  padding: 20px 40px;
  color: #fff;
  background-color: #f8bd59;
  border-radius: 65px;
}

.contact-section .right {
  width: 50%;
  margin-top: 2%;
}

/*Laptop media queries ends*/
/*Desktop Media Quries Starts*/
@media only screen and (min-width: 1600px) {
  .wrapper-section {
    height: 70vh;
  }
  .contact-section {
    height: 85vh;
  }
  .contact-section .conatiner {
    width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section .conatiner .right {
    margin-top: 4%;
  }
  .contact-section .conatiner .left h1 {
    font-size: 40px;
  }
  .contact-section .conatiner .left h2 {
    font-size: 20px;
  }
  .contact-section .conatiner .left form .first input {
    width: 300px;
  }
  .contact-section .conatiner .left form .second input {
    width: 628px;
  }
  .contact-section .conatiner .left form .third input {
    width: 637px;
  }
  .contact-section .conatiner .left form .btn {
    width: 239px;
    font-size: 16px;
    font-weight: bolder;
  }
  .contact-section .conatiner .right {
    width: 42%;
  }
}

/*Desktop Media Quries Ends*/
/*Normal iphone 6 / x Starts*/
@media (max-width: 400px) {
  .wrapper-section {
    height: auto;
  }
  .wrapper-section .bg-layer {
    height: auto;
  }
  .hero-section {
    height: auto;
    padding: 80px 0;
  }
  .hero-section .container {
    width: 89%;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 32px;
  }
  .hero-section .container .flex-wrapper h2 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 38px;
  }
  .hero-section .container .flex-wrapper .btn {
    padding: 24px 22px;
    font-size: 12px;
  }
  .contact-section {
    height: auto;
  }
  .contact-section .conatiner {
    width: 90%;
    margin: 0% auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section .conatiner .left,
  .contact-section .conatiner .right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section .conatiner .left {
    margin-bottom: 50px;
  }
  .contact-section .conatiner .left h1 {
    margin-bottom: 20px;
  }
  .contact-section .conatiner .left h2 {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .contact-section .conatiner .left form .first {
    gap: 0px 12px;
  }
  .contact-section .conatiner .left form .first input {
    width: 50%;
  }
  .contact-section .conatiner .left form .second input,
  .contact-section .conatiner .left form .third input {
    width: 100%;
  }
  .contact-section .conatiner .right iframe {
    width: 100%;
  }
}

/*Normal iphone 6 / x ends*/
/*Iphone se (Small devices) starts*/
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .hero-section .conatiner .flex-wrapper h2 {
    font-size: 14px;
  }
  .hero-section .conatiner .flex-wrapper .btn {
    padding: 17px 19px;
    font-size: 10px;
  }
}

/*Iphone se (Small devices) ends*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-section {
    height: 78vh;
  }
  .wrapper-section .bg-layer {
    height: 78vh;
  }
  .hero-section {
    height: 78vh;
  }
  .hero-section .container {
    width: 96%;
  }
  .hero-section .container .flex-wrapper h2 {
    line-height: 42px;
    font-size: 26px;
  }
  .hero-section .container .flex-wrapper .btn {
    padding: 34px 50px;
    font-size: 22px;
  }
  .contact-section {
    height: auto;
    padding: 100px 0;
  }
  .contact-section .conatiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0;
  }
  .contact-section .conatiner .left {
    width: 100%;
  }
  .contact-section .conatiner .left h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .contact-section .conatiner .left h2 {
    font-size: 22px;
    line-height: 36px;
  }
  .contact-section .conatiner .left form input {
    width: 100%;
  }
  .contact-section .conatiner .right {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .wrapper-section {
    height: 70vh;
  }
  .wrapper-section .bg-layer {
    height: 70vh;
  }
  .hero-section {
    padding-top: 110px;
    height: 70vh;
  }
  .hero-section .container {
    width: 85%;
  }
  .hero-section .container .flex-wrapper h1 {
    font-size: 50px;
  }
  .hero-section .container .flex-wrapper h2 {
    font-size: 27px;
    line-height: 48px;
  }
  .hero-section .container .flex-wrapper .btn {
    font-size: 24px;
  }
  .contact-section {
    height: auto;
    padding: 100px 0 150px;
  }
  .contact-section .conatiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0;
  }
  .contact-section .conatiner .left {
    width: 100%;
  }
  .contact-section .conatiner .left h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .contact-section .conatiner .left h2 {
    font-size: 27px;
    line-height: 40px;
  }
  .contact-section .conatiner .left form input {
    width: 100%;
  }
  .contact-section .conatiner .left form .btn {
    width: 321px;
    height: 94px;
    padding: 31px 54px;
    font-size: 21px;
  }
  .contact-section .conatiner .right {
    width: 100%;
  }
  .contact-section .conatiner .right iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */