@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*Resets*/
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
}

section {
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container{
  height: inherit;
  margin: 0% auto;
}

/*Colors Variables*/
$primary-one: #fff;
$primary-two: #000;
$bg-color: #eee;
$complementary-color: #f8bd59;
