/*Resets*/
html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  
}

section{
    width: 100%;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    height: auto;
    width: 100%;
  }



/*Colors Variables*/
$primary-one : #fff;
$primary-two : #000;
$bg-color : #eee;
$complementary-color : #F8BD59;